<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027540896209-kj4pdopncajerkrg43bmagk5pe4sm0eu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027540896209-kj4pdopncajerkrg43bmagk5pe4sm0eu</string>
	<key>API_KEY</key>
	<string>AIzaSyA2gqlN2FqT5vbOfIPoumSBqn5v4ID0-OU</string>
	<key>GCM_SENDER_ID</key>
	<string>1027540896209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sulense.mynotes</string>
	<key>PROJECT_ID</key>
	<string>mynotes-sulense</string>
	<key>STORAGE_BUCKET</key>
	<string>mynotes-sulense.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027540896209:ios:27e233ae7837189812f8f0</string>
</dict>
</plist>